{% extends 'accounts/navibar.html' %}

{% block content %}

    <h1>Koti</h1>
    <hr>

    <h3>
        Solitan harjoitus tehtävä.
    </h3>
    <p>Ylhäällä olevasta navista pääsee tarkastelemaan kyseisellä nimellä olevia
    Json tiedostosta koottuja tietoja. Kummallakin sivustolla tarkastellaan eri tietoja.
    Tässä harjoituksessa ei ole panostettu ulkoasuun paljoa, vaan enemmänkin
    toiminnallisuuteen.</p>

    <p>Valitettavasti en kerennyt tehdä kaikkea toiminnallisuutta mitä piti,
     mutta jotain kuitenkin sain rakennettua.</p>

    <p>Django tekee automaattisesti tietokannan, mutta tässä harjoituksessa en sitä käyttänyt.
     Sisäänkirjautuminen sekä käyttäjät tulevat Djangon mukana, mutta ne ovat myös jätetty pois tässä harjoituksessa.</p>

{% endblock%}